:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.progression {
  color: purple;
  font-weight: bold;
}

.item {
  color: rgb(0, 179, 255);
}

.hide {
  opacity: 1;
  animation: fadeOut 2s ease-out forwards;
}

.hide-long {
  opacity: 1;
  animation: fadeOut 10s ease-out forwards;
}

img {
  width: 35vw;
  height: auto;
}

goal {
  color: gold;
}

death {
  color: red;
}

reason {
  color: orange;
}

form {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

#SlotContainer {
  display: flex;
}

#SlotContainer > * {
}

#slots {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#SlotControls {
  width: 4rem;
  height: 2rem;
  align-self: flex-end;
}

#SlotControls > * {
  padding: 0;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
}

#slots > * {
  height: 1.6rem;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.5;
}

input[type="submit"] {
  visibility: hidden;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
